<!DOCTYPE html>
<html>
<head>
    <style>
        /* table {
            border: 1px solid #000;;
        } */
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>

    <h2>Order-View-Create</h2>
    <div id="orderHistory">
        <h3>Order History</h3> 
        <table>
            <tr>
                <th>OrderId</th>
                <th>Samosa</th>
                <th>Chai</th>
                <th>Idli</th>
                <th>Date</th>
            </tr>
            {% for orderId, samosa, chai, idli, date in orderHistory %}
            <tr>
                <td>{{orderId}}</td>
                <td>{{samosa}}</td>
                <td>{{chai}}</td>
                <td>{{idli}}</td>
                <td>{{date}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Place Order</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {% for item in items %}
        {{item}}:<br>
        <input type="number" name="{{item}}">
        <br>
        {% endfor %}
        <input type="submit" value="Order">

        {% if status %}
        <h3>Order Status</h3>

            {% if status == "success" %}
            <div id="status" style="color: green;">
                Success: Your orderId is {{orderId}}
            </div>
            {% endif %}

            {% if status == "error" %}
            <div id="status" style="color: red;">
                Error: {{message}}
            </div>
            {% endif %}

        {% endif %}
    </form>

</body>

</html>